.img-principal {
  width: 580px;
  height: 580px;
}

.img-clinica {
  width: 480px;
  height: 480px;
}

.img-farmacia {
  width: 645px;
  height: 430px;
}

.img-duvida {
  width: 540px;
  height: 580px;
}
